<% if logged_in? %>
  <P>ログインユーザ: <%= current_user.name %></P>
  <%= link_to 'Log out', logout_path, method: :delete %>
<% else %>
  <h1>Welcome to Tasklist</h1>
  <%= link_to 'Sign up now!', signup_path %>
<% end %>